# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
# checksum:
#   # https://aquaproj.github.io/docs/reference/checksum/
#   enabled: true
#   require_checksum: true
#   supported_envs:
#   - all
registries:
- type: standard
  ref: v3.159.0 # renovate: depName=aquaproj/aqua-registry
packages:
- name: direnv/direnv@v2.32.2
- name: helm/helm@v3.11.3
- name: helmfile/helmfile@v0.153.1
- name: kubernetes/kubectl@v1.27.1
- name: rs/curlie@v1.6.9
- name: twpayne/chezmoi@v2.33.3
- name: SimonTheLeg/konf-go@v0.5.1
