# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
# checksum:
#   # https://aquaproj.github.io/docs/reference/checksum/
#   enabled: true
#   require_checksum: true
#   supported_envs:
#   - all
registries:
- type: standard
  ref: v3.156.0 # renovate: depName=aquaproj/aqua-registry
packages:
- name: ahmetb/kubectx@v0.9.4
- name: direnv/direnv@v2.32.2
- name: helm/helm@v3.11.3
- name: helmfile/helmfile@v0.152.0
- name: kubernetes/kubectl@v1.27.1
