# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
# checksum:
#   # https://aquaproj.github.io/docs/reference/checksum/
#   enabled: true
#   require_checksum: true
#   supported_envs:
#   - all
registries:
- type: standard
  ref: v4.37.0 # renovate: depName=aquaproj/aqua-registry
packages:
- name: ajeetdsouza/zoxide@v0.9.2
- name: charmbracelet/glow@v1.5.1
- name: direnv/direnv@v2.32.3
- name: helm/helm@v3.12.2
- name: helmfile/helmfile@v0.155.1
- name: kubernetes/kubectl@v1.27.4
- name: robscott/kube-capacity@v0.7.4
- name: rs/curlie@v1.7.1
- name: sharkdp/bat@v0.23.0
- name: SimonTheLeg/konf-go@v0.5.1
- name: twpayne/chezmoi@v2.37.0
