{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.3.5

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "Installing aqua"
  curl -sSfL -O https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.1.1/aqua-installer
  echo "c2af02bdd15da6794f9c98db40332c804224930212f553a805425441f8331665  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
  ./aqua-installer -v $current_aqua_version
fi

# This script will run whenever I added something to .config/aqua/aqua.yaml
# .config/aqua/aqua.yaml hash: {{ include "private_dot_config/private_aqua/aqua.yaml.tmpl" | sha256sum }}
export AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
echo "Upgrading aqua"
aqua install --all --only-link
{{ end -}}
