{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.3.4

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "Installing aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/$current_aqua_version/aqua-installer | bash -s
  AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml rm -rf {{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua && aqua install -a
fi

# This script will run whenever I added something to .config/aqua/aqua.yaml
# .config/aqua/aqua.yaml hash: {{ include "private_dot_config/private_aqua/aqua.yaml.tmpl" | sha256sum }}
echo "Upgrading aqua"
aqua install -a

{{ end -}}
