{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey :=promptStringOnce . "signingkey" "git public signing key" -}}
{{- $laptopType :=promptStringOnce . "laptopType" "LaptopType e.g. private, work" -}}

[data]
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
    laptopType = {{ $laptopType | quote }}
