tap "homebrew/cask-fonts"

brew "coreutils"
brew "fzf"
brew "gnu-getopt"
brew "gnu-sed"
brew "graphviz"
brew "jq"
brew "tmux"
brew "wget"

cask "1password"
cask "1password-cli"
cask "boop"
cask "brave-browser"
cask "dotnet-sdk"
cask "font-hack-nerd-font"
cask "iterm2"
cask "stats"
cask "visual-studio-code"

{{ if eq .chezmoi.os "darwin" -}}
cask "rectangle"
{{ end -}}

{{ if eq .laptopType "private" }}
cask "intellij-idea-ce"
cask "thunderbird"
{{ end }}

{{ if eq .laptopType "work" }}
brew "dnsmasq"
brew "postgresql"
brew "pkg-config"
brew "unixODBC"
{{ end }}

