tap "homebrew/cask-fonts"

brew "coreutils"
brew "fzf"
brew "jq"

cask "1password"
cask "1password-cli"
cask "boop"
cask "brave-browser"
cask "dotnet-sdk"
cask "font-hack-nerd-font"
cask "iterm2"
cask "stats"

{{ if eq .chezmoi.os "darwin" -}}
cask "rectangle"
{{ end -}}

{{ if eq .laptopType "private" }}
cask "intellij-idea-ce"
cask "thunderbird"
{{ end }}
