tap "homebrew/cask-fonts"

brew "coreutils"
brew "httpie"
brew "jq"

cask "1password"
cask "1password-cli"
cask "boop"
cask "brave-browser"
cask "font-hack-nerd-font"
cask "iterm2"
{{ if eq .laptopType "private" }}
cask "intellij-idea-ce"
{{ end }}
cask "stats"
