{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.30.0

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "Installing aqua"
  curl -sSfL -O https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.0.1/aqua-installer
  echo "fb4b3b7d026e5aba1fc478c268e8fbd653e01404c8a8c6284fdba88ae62eda6a  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
  ./aqua-installer -v $current_aqua_version
fi

# This script will run whenever I added something to .config/aqua/aqua.yaml
# .config/aqua/aqua.yaml hash: {{ include "private_dot_config/private_aqua/aqua.yaml.tmpl" | sha256sum }}
export AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
echo "Upgrading aqua"
aqua install --all --only-link
{{ end -}}

