{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!{{ lookPath "zsh" }}

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.53.4

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "Installing aqua"
  curl -sSfL -O https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.1.2/aqua-installer
  echo "9a5afb16da7191fbbc0c0240a67e79eecb0f765697ace74c70421377c99f0423  aqua-installer" | sha256sum -c -
  chmod +x aqua-installer
  ./aqua-installer -v $current_aqua_version
  rm aqua-installer
  source ~/.zshrc
fi

# This script will run whenever I added something to .config/aqua/aqua.yaml
# .config/aqua/aqua.yaml hash: {{ include "private_dot_config/private_aqua/aqua.yaml.tmpl" | sha256sum }}
export AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
echo "Upgrading aqua"
aqua install --all --only-link
{{ end -}}
